main {
    height: 100vh;
    width: 90vw;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.previus, .next {
    z-index: 1;
    position: absolute;
    width: 7.5%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}
.previus {
    left: 0;
}
.next {
    right: 0;
}
.card-container {
    scroll-behavior: smooth;
    overflow: hidden;
    width: 85%;
    height: 90%;
   /*  perspective: 1000px; */
    display: flex;
    gap: 1%;
}


.card {
    min-width: 100%;
    height: 100%;
    transition: transform .75s;
    transform-style: preserve-3d;
}

.back{
    transform: rotateX(180deg);
    /* se quiser uma animação na vertical,
    troque por rotateY(180deg)
    */
}
.front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: var(--border-radius-2);
    box-shadow: var(--box-shandow); */
    position: absolute;
    color: aliceblue;
    width: 100%;
    height: 100%;
    background-color: #032776;
    backface-visibility: hidden;
    font-size: 5rem;
    /* padding: var(--padding-1); */
}


.inferior-left-image {
    object-fit: contain;
    position: absolute;
    height: 30%;
    z-index: 1;
    margin-left: .5%;
    margin-top: .5%;
}

.superior-left-image {
    object-fit: contain;
    position: absolute;
    height: 30%;
    z-index: 1;
    margin-left: .5%;
    margin-bottom: .5%;
    bottom: 0;
    transform: rotate(-90deg);
}

.inferior-right-image {
    object-fit: contain;
    position: absolute;
    height: 30%;
    z-index: 1;
    margin-right: .5%;
    margin-top: .5%;
    right: 0;
    transform: rotate(90deg);
}

.superior-right-image {
    object-fit: contain;
    position: absolute;
    height: 30%;
    z-index: 1;
    margin-right: .5%;
    margin-bottom: .5%;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.menu {
    transition: all 300ms ease;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    padding: 5px;
    opacity: 40%;
}
.menu:hover {
    opacity: 100;
}
.info-modal {
    transition: all 200ms ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    width: max-content;
    /* height: 100px; */
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    opacity: 0;
}
.info:hover .info-modal{
    opacity: 100;
}
.info-modal div {
    color: black;
    font-size: large;

}

.select-content {
    display: inherit;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}
select {
    width: 90%;
    min-width: 15ch;
    max-width: 30ch;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}