body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-content {
    height: 85%;
    width: 40%;
    background-color: #363949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}
body .bt-content div {
    transition: all 300ms ease;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
    border-radius: 10px;
    background-color: #032776;
    width: 60%;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #032776;
}
body .bt-content div:hover {
    background-color: white;
}
body .bt-content div a {
    width: 100%;
    height: 100%;
    color: white;
}
body .bt-content div:hover a {
    color: #032776;
}

