/* Estilos globais */
body {
    /* font-family: Arial, sans-serif; */
    line-height: 1.6;
    /* margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    min-height: fit-content;
}

header {
    display: none;
    width: 100%;
    background-color: #032776;
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    margin-top: 2rem;
    max-width: 880px;
    min-height: fit-content;
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    color: #032776;
    border-bottom: 2px solid #032776;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #666;
}

p {
    margin: 10px 0;
}

blockquote {
    background-color: #e1eff7;
    padding: 15px;
    border-left: 6px solid #00509e;
    margin: 15px 0;
    border-radius: 5px;
}

blockquote p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #032776;
    color: var(--color-white);
    margin-top: 40px;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Links */
a {
    color: #032776;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.example {
    background-color: #e1eff7;
    padding: 15px;
    border-left: 6px solid #00509e;
    margin: 15px 0;
    border-radius: 5px;
}

.translation {
    font-style: italic;
    /* color: #555; */
}

.note {
    background-color: #fff4e0;
    padding: 15px;
    border-left: 6px solid #ffa726;
    margin: 15px 0;
    border-radius: 5px;
}

code {
    /* background-color: #f4f4f4; */
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.95em;
}
/* TABLE CSS */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: #fff;
}

td {
    background-color: #fff;
}
.greek {
    font-family: 'Times New Roman', serif;
    font-size: 1.1em;
}

.vocabList {
    list-style: none;
    padding: 0;
}
.section {
    margin-bottom: 30px;
}

.highlight {
    color: #006699;
    font-weight: bold;
}

.complete-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.complete {
    background-color: var(--color-success);
}

/* Responsividade */
@media (max-width: 600px) {
    header {
        height: 6rem;
        display: block;
    }
    header h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    main {
        padding: 10px;
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        position: relative;
        height: fit-content;
        /* margin: 0; */
        overflow: hidden;
    }

    blockquote {
        padding: 10px;
    }
    table {
        max-width: 100%;
    }
    td {
        padding: 5px;
    }
    th{
        padding: 5px;
        text-align: center;
    }
    /* footer{
        display: none;
    } */
}